[Unit]
Description=Pull /home/ubuntu/.local/share/ubuntu-release-metrics/

[Service]
Type=oneshot
User=ubuntu
EnvironmentFile=-/home/ubuntu/.local/share/proxy.conf
WorkingDirectory=/home/ubuntu/.local/share/ubuntu-release-metrics/
ExecStart=/usr/bin/git pull
