[Unit]
Description=Run %I metric
After=pull-metrics.service
Wants=pull-metrics.service

[Service]
User=ubuntu
# The default value of ${DRY_RUN}
Environment=DRY_RUN=False
EnvironmentFile=/home/ubuntu/.local/share/influx.conf
EnvironmentFile=-/home/ubuntu/.local/share/dry-run.conf
EnvironmentFile=-/home/ubuntu/.local/share/proxy.conf
ExecStart=/usr/bin/python3 -c 'from metrics.collectors.%I import run_metric; run_metric(dry_run=${DRY_RUN}, verbose=${DRY_RUN})'
NoNewPrivileges=yes
PrivateMounts=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes
RestrictSUIDSGID=yes
RuntimeMaxSec=10m
Type=simple
WorkingDirectory=/home/ubuntu/.local/share/ubuntu-release-metrics/
