[Unit]
Description=Run %I metric
After=pull-metrics.service
Wants=pull-metrics.service

[Service]
DynamicUser=yes
# The default value of ${DRY_RUN}
Environment=DRY_RUN=False
EnvironmentFile=/srv/influx.conf
EnvironmentFile=-/srv/dry-run.conf
EnvironmentFile=-/etc/environment.d/proxy.conf
ExecStart=/usr/bin/python3 -c 'from metrics.collectors.%I import run_metric; run_metric(dry_run=${DRY_RUN}, verbose=${DRY_RUN})'
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateMounts=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes
RestrictSUIDSGID=yes
RuntimeMaxSec=10m
Type=simple
WorkingDirectory=/srv/ubuntu-release-metrics/
