name: Pull Request

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  run-tests:
    uses: ./.github/workflows/pytest.yml
  linter:
    uses: ./.github/workflows/linter.yml
