---
name: Lint Code Base

on:
  workflow_call:

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps
        run: |
          #!/bin/bash
          sudo apt-get install -y black

      - name: Run linting checks
        run: |
          #!/bin/bash
          black --check .
